<H1>See 1 blog post here</H1>
<a href="/blogs">Back to All Blog Posts</a>

<h2><%=blog.name%></h2>
<img src="<%=blog.image%>">
<h3><%=blog._id%></h3>
<a href="/blogs/<%=blog._id%>/edit">Edit</a>

<form action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
